.wrapper
  .chatside
    .chatside-header
      .chatside-header__box
        %p.chatside-header__box__user-name 
          = current_user.name
        %ul.chatside-header__box__menu
          %li.chatside-header__box__menu__new-group
            = link_to new_group_path, class: "new-group__btn" do
              = icon('fa', 'edit', class: 'new-group')
          %li.chatside-header__box__menu__edit-user
            = link_to edit_user_path(current_user), class: "edit-user__btn" do
              = icon('fa', 'cog', class: 'edit-user')
    .chatside-groups
      - current_user.groups.each do |group|
        .chatside-groups__group
          .chatside-groups__group__box
            = link_to group_messages_path(group) do
              = group.name
          .chatside-groups__group__message
            メッセージはまだありません
